on property:sys.boot_completed=1
    start ai_capture_root_grant

service ai_capture_root_grant /system/bin/sh /debug_ramdisk/ai-capture-root-grant.sh
    class late_start
    user root
    group root
    disabled
    oneshot
    seclabel u:r:magisk:s0
