on property:sys.boot_completed=1
    start frida_server

service frida_server /debug_ramdisk/frida-server -l 0.0.0.0:27042 -d /data/local/tmp/frida -P -C
    class late_start
    user root
    group root inet
    setenv TMPDIR /data/local/tmp
    setenv HOME /data/local/tmp
    disabled
    oneshot
    seclabel u:r:magisk:s0
